@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body{
  padding-bottom: 500px;
}

a{
  text-decoration: none;
}

.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  margin-left: 51px;
  margin-right: 51px;
  row-gap: 10px;
  column-gap: 14px;
}