.bolder{
    font-weight: 600;
    padding-right: 10px;
}

.sale_alert{
    font-weight: 500;
    background-color: rgb(224, 79, 79);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    position: absolute;
    cursor: pointer;
}

.underlined{
    text-decoration: underline;
    padding-left: 10px;
}

a{
    text-decoration: none;
}