.cart{
    height: 100%;
    width: 340px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
    display: block;
    background-color: white;
}

.overlay{
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.close{
    position: absolute;
    width: 10%;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cartItem{
    display: grid;
    height: 200px;
}

.itemImg{
    width: 1%;
}