.cart{
    height: 100%;
    width: 340px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
    display: block;
    background-color: white;
}

.overlay{
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.close_image{
    width: 60%;
    cursor: pointer;
}

.cartItem{
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
    height: 100px;
    margin-top: 40px;
    margin-left: 20px;
    padding-bottom: 40px;
    cursor: pointer;
}

.itemImg img{
    width: 100%;
}

.price{
    margin-top: 50px;
    font-weight: 500;
    font-size: 14px;
}

.header{
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
}

.bag_title{
    display: flex;
    border-right: 1px solid black;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bag_title img{
    width: 7%;
    padding-left: 10px;
}

.close_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}